html, body {
	min-height: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #662233;
	background-image: radial-gradient(circle at 100% 150%, #662233 24%, #660022 25%, #660022 28%, #662233 29%, #662233 36%, #660022 36%, #660022 40%, transparent 40%, transparent), radial-gradient(circle at 0px 150%, #662233 24%, #660022 25%, #660022 28%, #662233 29%, #662233 36%, #660022 36%, #660022 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, #660022 10%, #662233 11%, #662233 23%, #660022 24%, #660022 30%, #662233 31%, #662233 43%, #660022 44%, #660022 50%, #662233 51%, #662233 63%, #660022 64%, #660022 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, #660022 5%, #662233 6%, #662233 15%, #660022 16%, #660022 20%, #662233 21%, #662233 30%, #660022 31%, #660022 35%, #662233 36%, #662233 45%, #660022 46%, #660022 49%, transparent 50%, transparent), radial-gradient(circle at 0px 50%, #660022 5%, #662233 6%, #662233 15%, #660022 16%, #660022 20%, #662233 21%, #662233 30%, #660022 31%, #660022 35%, #662233 36%, #662233 45%, #660022 46%, #660022 49%, transparent 50%, transparent); background-size: 100px 50px;
}

form {
	padding: 20px;
	margin-top: 60px;
}

form button, form h5 {
	margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #ec407a;
	box-shadow: none;
}

